<!doctype html>
<html lang="en" class="no-js">

<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link href='http://fonts.googleapis.com/css?family=PT+Sans:400,700|Merriweather:400italic,400' rel='stylesheet' type='text/css'>
	<link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css" rel="stylesheet" integrity="sha256-MfvZlkHCEqatNoGiOXveE8FIwMzZg4W85qfrfIFBfYc= sha512-dTfge/zgoMYpP7QbHy4gWMEGsbsdZeCXz7irItjcC3sPUFtf0kuFbDz/ixG7ArTxmDjLXDmezHubeNikyKGVyQ=="
	crossorigin="anonymous">
	<link rel="stylesheet" href="../css/resetgood.css">
	<link rel="stylesheet" href="../css/stylegood.css">
	<script src="../js/modernizr.js"></script>
	<title>PAGINA PRINCIPAL</title>
</head>

<body>
	<div class="projects-container">
		<ul>
			<li class="cd-single-project">
				<div class="cd-title">
					<h2>EMPRESA</h2>
					<p>Beneficios</p>
				</div>
				<div class="cd-project-info">
					<p style="text-align:justify ; color:gray">
						<b>OBTENER INFORMACIÓN ACERCA DE SU MERCADO:</b>
						<br> • MÉTRICAS
						<br> • VISUALIZACIÓN DEL COMPORTAMIENTO DEL CONSUMIDOR PARA CONOCER LA DEMANDA
						<br> • CONOCER AL MERCADO POTENCIAL
						<br> • INFORMACIÓN ADICIONAL SOBRE LOS COMPRADORES POTENCIALES
						<br> • VENTAJA ESTRATEGICA EN EL MERCADO
						<br>
					</p>
				</div>
			</li>
			<li class="cd-single-project">
				<div class="cd-title">
					<h2>USUARIO</h2>
					<p>Beneficios</p>
				</div>
				<div class="cd-project-info">
					<p style="text-align:center ; color:gray">
						<b>CONOCER INFORMACIÓN:</b>
						<br> • NOMBRE DEL PRODUCTO
						<br> • INFORMACIÓN DE DISTINTOS NEGOCIOS SEGUN EL INTERES
						<br> • INFORMACIÓN DE INTERES PARA EL USUARIO
						<br> • VIDEOS
						<br> • PROMOCIONES
					</p>
				</div>
			</li>
			<li class="cd-single-project">
				<div class="cd-title">
					<h2>VENTAJAS</h2>
					<p>Lo que nos hace diferentes a la competencia.</p>
				</div>
				<div class="cd-project-info" style="text-align:center">
					<p>Generemos valor a la empresa, obteniendo información específica de utilidad
						<br> Mejoramos el proceso de venta de los productos, estudiando el comportamiento del cliente.
						<br> Innovamos en la manera en la que se establece una relación cliente-marca.
						<br> Gamificación.
					</p>
				</div>
			</li>
			<li class="cd-single-project">
				<div class="cd-title">
					<h2>COSTOS</h2>
					<p>Viabilidad</p>
				</div>
				<div class="cd-project-info" style="text-align: center;">
					<button class="btn btn-default"><a href="pago.html">CONOCE LOS PAQUETES</a></button>
				</div>
	</div>
	</li>
	</ul>
	</div>
	<script src="../js/jquery-2.1.1good.js"></script>
	<script src="../js/maingood.js"></script>
	<script src='http://cdnjs.cloudflare.com/ajax/libs/jquery/2.1.3/jquery.min.js'></script>
	<script src="../js/pago.js"></script>
</body>
</html>
